*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    background-image: url(../imagens/fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    top:0;
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: rgb(34, 34, 34);
}

.menu_tabela{
    display: flex;
    width: 1000x;
    height: 50px;
}

.nome{
    display: flex;
    width: 512px;
}

.nome_2{
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    background-color: rgb(51, 99, 105);
    width: 80px;
}

.nome_2 a{
    font-size: 1.5vh;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}

.nome_2:hover{
    background-color: rgb(60, 141, 151);
}

.espaco{
    width: 432px;
}

table{
    width: 512px;
    padding: 13px;
}

table td{
    padding-left: 80px;
}

table a{
    font-size: small;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

table a:hover{
   color: rgb(60, 141, 151);
}


.meu_banner{
    align-items: center;
    display: flex;
    max-width: 1000px;
    width: 1000px;
    height: 400px;
    background-image: url(../imagens/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nome_cv{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

button{
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border-color: white;
    background-color: rgb(51, 99, 105);
}

button:hover{
    background-color: rgb(56, 138, 148);
}

button a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.meu_banner h1{
    font-family:'Courier New', Courier, monospace;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 6.5vh;
    color:rgb(255, 255, 255);
}


.eu{
    display: flex;
    width: 512px;
}

.eu img{
    margin-top: 50px;
    padding-right: 250px;
    height: 350px;
}

.sobre_eu{
    background-color: rgb(22, 22, 22);
    max-width: 1000px;
}


.foto{
    display: flex;
    align-items: center;
    width: 400px;
}

.foto img{
    border-radius: 20px;
    border: solid;
    border-width: 5px;
    width: 250px;
    margin-bottom: 20px;
    border-color: rgb(56, 138, 148);
}


.texto{
    color: aliceblue;
    text-align: center;
    padding: 50px;
    width: 624px;
}

.contatos{
    padding-top: 30px;
    padding-bottom: 30px;
    color: aliceblue;
    text-align: center;
    display: flex;
    background-color: rgb(22, 22, 22);
    max-width: 1000px;
    width: 1000px;
}

form{
    padding-top: 30px;
    text-align: left;
}

form input{
    border-radius: 5px;
    height: 30px;
    width: 400px;
}

textarea{
    border-radius: 5px;
}

#enviar{
    cursor: pointer;
    width: 100px;
}

#limpar{
    cursor: pointer;
    width: 100px;
}

.botao{
    display: flex;
}

.botao img{
    margin-left: 20px;
    width: 25px;
}


.botao img:hover{
    padding: 5px;
    border-radius: 4px;
    background-color: #f6f6f6;
}


.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(34, 34, 34);
}